# Ignore all files everywhere, but keep descending into directories.
*
!*/

!/.gitignore
!/fish/config.fish
!/ghostty/config
!/herdr/config.toml
!/jj/config.toml
!/nvim/**
!/starship.toml
!/.zshrc

# Ignore local files which should be configured individually
nvim/lua/local/*.lua
